/* Write your CSS code here */

.not-found-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.not-found {
  font-family: 'Roboto';
  font-size: 35px;
  text-align: center;
}
